<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ApiKey" value="AAPK4269c675885e403da1e6104a6dc05580QuN8zHMqOwm3j4r6JICG1d3PwQUY7S2oLeV4bKyRAFPuTsWkAuRvQIkmmluEGwoH" />
	</appSettings>
</configuration>